@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header .navbar {
  background: #17181F;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

header .navelementbtn {
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  margin-right: 22px;
}

header .navelementbtn:hover {
  color: #fff;
}

header .logo {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 40px;
}

header .logo:hover {
  color: #d2f5f2;
}

body .myslider {
  height: 570px;
  width: 100%;
  background: #17181F;
  padding: 50px;
}

body .sliderContainerSizeLimit {
  height: 450px;
  width: 85%;
  margin: auto;
  font-size: 30px;
}

body .sliderContainerSizeLimit h3 {
  font-weight: 500;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -4.5px;
  color: rgba(238, 237, 240, 0.85);

  position: relative;
  top: -250px;
  text-align: center;
}

body .sliderContainerSizeLimit p {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #EEEDF0;
  text-shadow: 0px 5px 12px rgba(203, 105, 193, 0.25);

  position: relative;
  top: -250px;
  text-align: center;
}

body .sliderContainerSizeLimit img {
  width: 100%;
}

body .titleText {
  margin-top: 98px;
  margin-bottom: 48px;
}

body .groupBtnWithPagesNumbers {
  margin-top: 18px;
  margin-bottom: 48px;
}

* .sectionPriceOfGoods {
  width: 100%;
}

* .sectionPriceOfGoodsName {
  justify-content: left;
  text-align: left;
}

* .sectionPriceOfGoodsPrise {
  justify-content: right;
  text-align: right;
}

* .starsRatingButtonsGroup {
  justify-content: left;
  text-align: start;
  width: 100%;
}

* .starsRatingButtonsGroupUL {
  list-style: none;
}

* .starsRatingButtonsGroupUL li {
  display: inline;
}

* .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

* .shop-cart-button:hover,
* .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

* .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;

  padding: 20px;
  padding-bottom: 0;
}

* .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

* .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

* .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

* .shop-cart p {
  color: #797979;
  font-weight: 600;
}

* .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}