@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #d65f5f;
  color: #646e05;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}