@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

header .navbar {
  background: #17181F;
}

header .navelementbtn {
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  margin-right: 22px;
}

header .navelementbtn:hover {
  color: #fff;
}

header .logo {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 40px;
}

header .logo:hover {
  color: #d2f5f2;
  ;
}